* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.background {
    position: relative;
    height: 100vh; /* Full viewport height */
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('suhyeon-choi-4Ia348kvX7A-unsplash.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    filter: blur(radius);
    z-index: 0; /* Behind the content */
}

.container {
    position: relative;
    z-index: 1; /* On top of the blurred image */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.7); /* Semi-transparent background */
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    color: #fff;
    font-size: 1.5rem;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li {
    display: inline;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.hero {
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-style: italic;
    color: black;
    font-size: 3rem;
}

.hero p {
    color: black;
    font-size: 1.2rem;
}

.hero .cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.featured-teas {
    padding: 50px 0;
    text-align: center;
    color: #333;
}

.featured-teas h2 {
    margin-bottom: 30px;
}

.tea-item {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
